@font-face {
    font-family: Manrope;
    src: url("manrope/Manrope-Regular.otf");
}

@font-face {
    font-family: Manrope;
    font-weight: bold;
    src: url("manrope/Manrope-Bold.otf");
}

@font-face {
    font-family: Manrope;
    font-weight: 999;
    src: url("manrope/Manrope-SemiBold.otf");
}

:root {
    --accent-blue: #88C0D0;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #120F22;
    font-family: Manrope;
}

body {
    top: 0;
    left: 0;
}

#banner {
    background-color: #120F22;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
}

#topbar {
    position: fixed;
    padding: 0;
    margin: 0;
    left: -1vw;
    width: 100vw;
    height: 10vh;
    top: 0;
    background-color: #120F22;
    z-index: 6;
}


#falconhacks-logo {
    display: inline;
    height: 10vh;
    left: 2vw;
}

.sponsor-img {
    height: 10vh;
}

#logo-div {
    display: inline;
    float: left;
}

#logos {
    display: inline;
    list-style-type: none;
    margin: 0;
}

#logos > li {
    display: inline;
    float: left;
    padding-left: 2vh;
    padding-right: 2vh;
}

#nav-div {
    display: inline-block;
    float: right;
}

#nav {
    display: inline;
    list-style-type: none;
    margin: 0;
}

#nav > li {
    display: inline;
    float: left;
    padding-left: 2vh;
    padding-right: 2vh;
}

#nav > li > a {
    display: block;
    padding: 0px 8px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-family: Manrope;
    font-size: 3vh;
    line-height: 10vh;
}

#nav > li > a:hover {
    background-color: var(--accent-blue);
    color: #120f22;
}

#banner-body {
    position: relative;
    height: 90vh;
    top: 10vh;
}

#banner-text {
    width: 64vw;
    position: absolute;
}

#signup-form {
    position: relative;
    display: inline-block;
    width: 40vw;
    float: right;
    margin: 0;
}

#falconhacks-banner-header {
    height: 30vh;
    width: 100%;
    line-height: 252px;
    color: #FFF;
    font-family: Manrope;
    font-weight: 999;
    font-size: 5.208vw;
    z-index: 5;
    position: relative;
    margin: 0;
    top: 15vh;
    left: 4vw;
    display: inline-block;
}

#falconhacks-subtext-header {
    color: #FFF;
    font-family: Manrope;
    font-size: 2.604vw;
    font-weight: 5;
    line-height: 175px;
    margin: 0;
    left: 4vw;
    text-align: left;
    position: relative;
    display: inline-block;
    z-index: 5;
}

#date-location {
    left: 4vw;
    position: relative;
    z-index: 5;
}

#date-location > table {
    font-family: Manrope;
    color: white;
    width: 25vw;
}

#date-location-header {
    font-size: 1.563vw;
    text-align: left;
}

#date-location-body {
    color: var(--accent-blue);
    height: 8.75vh;
}

#vanta-trunk {
    position: absolute;
    top: 10%;
    right: 0;
    height: 70vh;
    width: 70vh;
    z-index: 1;
}

#signup-form {
    width: 17vw;
    height: 10vh;
    position: relative;
    top: 3vh;
    float: right;
    right: 5vw;
    display: inline-block;
    text-decoration: none;
    background-color: var(--accent-blue);
    color: white;
    cursor: pointer;
    font-family: Manrope;
    font-size: 1.7vw;
    line-height: 10vh;
    /* text-align: center; */
    margin: 0;
    padding: 0px 33px;
    border-radius: 5vh;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.curvy-line-divider {
    position: relative;
    pointer-events: none;
    left: -1vw;
}

#bottom-text {
    position: relative;
    left: -1vw;
    top: -1vh;
    width: 100vw;
    background-color: #211C3B;
}

#bottom-text > table {
    position: relative;
    width: 100vw;
    font-family: Manrope;
    border-collapse: separate;
    border-spacing: 10vw 0;

}

.bottom-text-header {
    font-size: 2.5vw;
    color: white;
    font-weight: bold;
}

.bottom-text-text {
    font-size: 1.25vw;
    color: var(--accent-blue);
}

#blue-cards {
    position: relative;
    width: 100vw;
}

#blue-cards > table {
    padding: 0 5vw;
    border-spacing: 5vw;
    color: white;
}

.blue-card {
    background-color: var(--accent-blue);
    border-radius: 50px;
    width: 25vw;
    color: black;
    padding: 5vh;
    vertical-align: top;
    text-align: center;
    font-size: 1.25vw;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
}

.bc-header {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    color: white;
}

#curvy-line-divider-2 {
    background-color: #211C3B;
    position: relative;
    top: -1vh;
}

#more-bottom-text {
    position: relative;
    background-color: #2C264D;
    width: 102vw;
    top: -2vh;
    left: -1vw;
}

#mbt-text {
    position: relative;
    border-collapse: separate;
    border-spacing: 8vw 0;
}

#mbt-text th {
    width: 22.67vw;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: left;
    color: white;
    padding-bottom: 2vh;
}

#mbt-text td {
    width: 20vw;
    font-size: 1.25vw;
    color: var(--accent-blue);
    vertical-align: top;
    color: #88c0d0;
}

#sponsor-row {
    padding-top: 15vh;
    padding-bottom: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#sponsor-row th {
    text-align: center;
    padding-bottom: 5vh;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
}

#sponsor-row td {
    width: 10vw;
    padding: 0 5vw;
}

#sponsor-row img {
    border-radius: 10vw;
}